asgiref==3.9.2
dj-database-url==3.1.2
Django==5.2.7
et_xmlfile==2.0.0
gunicorn==25.1.0
numpy==2.4.2
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
whitenoise==6.12.0
