{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="login">
    <img id="logo-blanco" src="{% static 'img/logo-moi-blanco.png' %}" alt="logo-django">
    <h2>Iniciar Sesión</h2>
    
    {% if messages %}
      {% for message in messages %}
        <p style="color:red; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{ message }}</p>
      {% endfor %}
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ingresar</button>
    </form>
  </div>
</body>
</html>